<header>
  <h1>Password Generator</h1>
  <h2>Create strong passwords instantly</h2>
  <hr />
</header>
<div class="card">
  <div class="inner">
    <div class="password">{{ showClear ? passwordClear() : passwordMasked() }}</div>
    <div class="buttonWrapper">
      <div class="iconButton" (mousedown)="showClear = true" (mouseup)="showClear = false">
        <crb-icon image="eye" width="30" height="30" />Show
      </div>
      <div class="iconButton" (keypress)="regenerate()" (click)="regenerate()">
        <crb-icon image="refresh" width="30" height="30" />Regenerate
      </div>
      <crb-clipboard title="Password" [value]="passwordClear()" class="iconButton">
        <crb-icon image="copy" width="30" height="30" />Copy
      </crb-clipboard>
    </div>
  </div>
</div>
<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <label for="length">Length (5-{{ sliderMax }})</label>
        <div class="flex">
          <input
            type="range"
            min="5"
            [max]="sliderMax"
            class="slider"
            id="lengthRange"
            name="lengthRange"
            [(ngModel)]="length"
          />
          <input
            id="length"
            name="length"
            type="number"
            maxlength="3"
            size="3"
            placeholder="0"
            min="5"
            max="256"
            [(ngModel)]="length"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <form class="crbInput">
        <span class="pseudoLabel">Character Types</span>
        <div class="group">
          <div class="group__item">
            <input
              id="charsUC"
              name="charsUC"
              data-index="0"
              type="checkbox"
              [value]="char()[0]"
              (change)="changeValue($event)"
            />
            <label class="checkbox" for="charsUC">
              @if (char()[0]) {
                <crb-icon image="checkboxRound" width="20" height="20" />
              } @else {
                <crb-icon image="roundEmpty" width="20" height="20" />
              }
              Uppercase (A-Z)</label
            >
          </div>
          <div class="group__item">
            <input
              id="charsLC"
              name="charsLC"
              data-index="1"
              type="checkbox"
              [value]="char()[1]"
              (change)="changeValue($event)"
            />
            <label class="checkbox" for="charsLC">
              @if (char()[1]) {
                <crb-icon image="checkboxRound" width="20" height="20" />
              } @else {
                <crb-icon image="roundEmpty" width="20" height="20" />
              }
              Lowercase (a-z)</label
            >
          </div>
          <div class="group__item">
            <input
              id="charsNum"
              name="charsNum"
              data-index="2"
              type="checkbox"
              [value]="char()[2]"
              (change)="changeValue($event)"
            />
            <label class="checkbox" for="charsNum">
              @if (char()[2]) {
                <crb-icon image="checkboxRound" width="20" height="20" />
              } @else {
                <crb-icon image="roundEmpty" width="20" height="20" />
              }
              Numbers (0-9)</label
            >
          </div>
          <div class="group__item">
            <input
              id="charsSpec"
              name="charsSpec"
              data-index="3"
              type="checkbox"
              [value]="char()[3]"
              (change)="changeValue($event)"
            />
            <label class="checkbox" for="charsSpec">
              @if (char()[3]) {
                <crb-icon image="checkboxRound" width="20" height="20" />
              } @else {
                <crb-icon image="roundEmpty" width="20" height="20" />
              }
              Symbols (!@#$%)</label
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
