<header>
  <h1>Lorem Ipsum Generator</h1>
  <h2>Generate placeholder text for UI design and development</h2>
  <hr />
</header>
<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      Amount
      <div>
        <input
          id="length"
          type="number"
          name="length"
          maxlength="2"
          size="2"
          placeholder="0"
          min="1"
          max="99"
          [(ngModel)]="length"
        />
      </div>
      Settings
      <div class="crbInput buttonWrapper">
        <input
          type="radio"
          id="letters"
          name="options"
          value="letters"
          [attr.checked]="option() === 'letters'"
          (change)="onChangeOption($event)"
        />
        <label class="iconButton" for="letters">Letters</label>
        <input
          type="radio"
          id="words"
          name="options"
          value="words"
          [attr.checked]="option() === 'words'"
          (change)="onChangeOption($event)"
        />
        <label class="iconButton" for="words">Words</label>
        <input
          type="radio"
          id="paragraphs"
          name="options"
          value="paragraphs"
          [attr.checked]="option() === 'paragraphs'"
          (change)="onChangeOption($event)"
        />
        <label class="iconButton" for="paragraphs">Paragraphs</label>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="inner">
      <div class="flex">
        Generated Text
        <crb-clipboard title="Password" [value]="text()" class="iconButton">
          <crb-icon image="copy" width="30" height="30" />Copy Result
        </crb-clipboard>
      </div>
      <textarea id="text" name="text" rows="5" cols="75" [value]="text()" disabled></textarea>
    </div>
  </div>
</div>
