<header>
  <h1>Permission Generator</h1>
  <h2>Generate Linux chmod permissions visually</h2>
</header>
<div class="card-wrapper">
  <div class="card">
    <div class="inner">
      <div>
        <label for="permCommand">Command:</label>
        <input
          id="permCommand"
          name="permCommand"
          type="text"
          maxlength="17"
          size="17"
          value="chmod {{ permOctal() }} file.sh"
          disabled
        />
      </div>
      <div>
        <label for="permOctal">Octal:</label>
        <input
          id="permOctal"
          name="permOctal"
          type="text"
          maxlength="3"
          size="3"
          [(ngModel)]="permOctal"
          (ngModelChange)="onChangeOctal($event)"
          (focusout)="inputCleanup($event)"
        />
      </div>
      <div>
        <label for="permSymbolic">Symbolic:</label>
        <input
          id="permSymbolic"
          name="permSymbolic"
          type="text"
          maxlength="10"
          size="10"
          [(ngModel)]="permSymbolic"
          (ngModelChange)="onChangeSymbolic($event)"
          (focusout)="inputCleanup($event)"
        />
      </div>
      <div class="buttonWrapper">
        <div class="iconButton">
          <crb-clipboard title="Chmod" [value]="'chmod' + permOctal() + 'file.sh'" />Copy chmod
        </div>
        <div class="iconButton">
          <crb-clipboard title="Octal" [value]="permOctal()" />Copy octal
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <form class="inner crbInput">
      <span class="pseudoLabel">Permissions</span>
      <div class="table">
        <div class="item"></div>
        <div class="item">Owner</div>
        <div class="item">Group</div>
        <div class="item">Public</div>
        <div class="break"></div>
        <div class="item">Read</div>
        @for (item of permBool(); track $index) {
          <div class="item">
            <input
              id="item{{ $index }}"
              [attr.data-index]="$index"
              type="checkbox"
              [value]="item"
              (keypress)="onChangeBool($event)"
              (click)="onChangeBool($event)"
            />
            <label class="checkbox" for="item{{ $index }}">
              @if (item) {
                <crb-icon image="checkboxRound" width="20" height="20" />
              } @else {
                <crb-icon image="roundEmpty" width="20" height="20" />
              }
            </label>
          </div>
          @if (($index + 1) % 3 === 0) {
            <div class="break"></div>
          }
          @if ($index + 1 === 3) {
            <div class="item">Write</div>
          }
          @if ($index + 1 === 6) {
            <div class="item">Execute</div>
          }
        }
      </div>
    </form>
  </div>
</div>
