$defaultWidth: 40dvw;
@mixin spacer {
  .ml5 {
    margin-left: 0.5rem;
  }
  .mb5 {
    margin-bottom: 0.5rem;
  }

  .spacer {
    border-right: 1px solid var(--main-fg-color);
  }
}

@mixin layout {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .code {
    font-family: SourceCode, monospace;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  section {
    min-height: calc(100dvh - 5rem);
    padding-top: 5rem;
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    header,
    .card {
      width: $defaultWidth;
      min-width: 700px;
      margin: 0 auto;
      border: 2px solid var(--sec-bg-color);
      &.no-border {
        padding: 0;
        border: 0;
      }
      .inner {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
      }
    }
    header {
      text-align: center;
      border-width: 0;
      border-bottom-width: 2px;
    }
    .card {
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .card-wrapper {
      width: $defaultWidth;
      min-width: 700px;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: 0 auto;
      .card {
        flex: 1;
        width: auto;
        min-width: 0;
      }
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    &.active {
      color: var(--sec-fg-color);
    }
    &:hover crb-icon {
      color: var(--sec-fg-color);
    }
  }

  h2 {
    font-size: 1.25rem;
  }
}
