input[type='range'] {
  &#rangeR {
    accent-color: red;
  }
  &#rangeG {
    accent-color: green;
  }
  &#rangeB {
    accent-color: blue;
  }
}

.flex .flex {
  input {
    margin: 0 0.25rem;
  }
  label {
    padding-bottom: 0;
  }
}

.iconButton {
  padding: 0.25rem;
  .content {
    padding: 0.125rem 0.5rem;
  }
}
